---
import GitHub from './icons/GitHub.astro';
import NextJS from './icons/NextJS.astro';
import Tailwind from './icons/Tailwind.astro';
import Link from './icons/Link.astro';
import LinkButton from './LinkButton.astro';
import PHPIcon from './icons/PHP.astro';
import JSIcon from './icons/JS.astro';
import MySQL from './icons/MySQL.astro';
import Bootstrap from './icons/Bootstrap.astro';
import AstroIcon from './icons/Aastro.astro';

const TAGS = {
  PHP: {
    name: 'PHP',
    class: 'bg-purple-500 text-white',
    icon: PHPIcon,
  },
  JS: {
    name: 'JavaScript',
    class: 'bg-yellow-500 text-black',
    icon: JSIcon,
  },
  MySQL: {
    name: 'MySQL',
    class: 'bg-blue-400 text-white',
    icon: MySQL,
  },
  BOOTSTRAP: {
    name: 'Bootstrap',
    class: 'bg-purple-500 text-white',
    icon: Bootstrap,
  },
  Astro: {
    name: 'Astro',
    class: 'bg-purple-900 text-white',
    icon: AstroIcon,
  },
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: NextJS,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    icon: Tailwind,
  },
};

const PROJECTS = [
  {
    title: 'Turiscompra',
    description:
      'Este proyecto tiene como objetivo conectar directamente a los campesinos con los consumidores mediante una tienda virtual. A través de la plataforma, los campesinos pueden registrar sus productos, gestionar ventas y controlar sus propias transacciones de manera autónoma.',
    link: 'https://turiscompra.infinityfreeapp.com',
    github: 'https://github.com/Mono-A3/Turiscompra',
    image: '/projects/turiscompra.png',
    tags: [TAGS.PHP, TAGS.JS, TAGS.MySQL, TAGS.BOOTSTRAP],
  },
  {
    title: 'Andres Araque',
    description:
      'Este proyecto agrupa varios de mis desarrollos personales para simplificar su despliegue en Firebase. Incluye una página de Linktree, un portafolio, una sección de próximos proyectos (upcoming) y una página de error personalizada (404).',
    link: 'https://andresaraque.com',
    github: 'https://github.com/Mono-A3/AndresAraque',
    image: '/projects/AndresAraque.png',
    tags: [TAGS.Astro, TAGS.TAILWIND, TAGS.JS],
  },
  {
    title: 'Próxima Película Marvel',
    description:
      'Este proyecto te mantiene al tanto de las próximas películas del universo Marvel. Está desarrollado con tecnologías modernas y está desplegado en plataformas confiables.',
    link: 'https://proxima-pelicula-marvel.infinityfreeapp.com/',
    github: 'https://github.com/Mono-A3/proxima-pelicula-marvel',
    image: '/projects/proximaPelicula.png',
    tags: [TAGS.PHP],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Imagen del Proyecto"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
